<div fxLayout="row" fxLayoutAlign="center">
  <mat-card class="container-card" fxLayout="column">
    <app-logo></app-logo>

    <div class="room-container" fxLayout="column">
      <app-room-header [room]="room"></app-room-header>

      <div class="messages" fxLayout="column">
        <ng-container
          *ngFor="let message of chatMessages"
        >
          <!-- Messages from other participants -->
          <span
            *ngIf="message.user.id !== user.id"
            fxFlexAlign="start"
          >
            {{message.user.name}} - {{message.datetime}} - {{message.message}}
          </span>

          <!-- Messages from current user -->
          <span
            *ngIf="message.user.id === user.id"
            fxFlexAlign="end"
          >
            {{message.user.name}} - {{message.datetime}} - {{message.message}}
          </span>
        </ng-container>
      </div>

      <app-send-message-form (sendMessage)="sendMessage($event)"></app-send-message-form>
    </div>
  </mat-card>
</div>
