<div fxLayout="row" fxLayoutAlign="center">
  <mat-card class="container-card" fxLayout="column">
    <app-logo></app-logo>

    <div class="room-container" fxLayout="column">
      <app-room-header [room]="room"></app-room-header>

      <div #messages class="messages" fxLayout="column" fxLayoutGap="3px">
        <app-message
          *ngFor="let message of chatMessages; let i = index"
          [message]="message"
          [side]="message.user.id === user.id ? MessageSide.RIGHT : MessageSide.LEFT"
          [continue]="i > 0 && chatMessages[i-1].user.id === chatMessages[i].user.id"
        ></app-message>
      </div>

      <app-send-message-form (sendMessage)="sendMessage($event)"></app-send-message-form>
    </div>
  </mat-card>
</div>
