<div fxLayout="row" fxLayoutAlign="center">
  <div class="login-card" fxLayout="column">
    <app-logo></app-logo>

    <form
      [formGroup]="form"
      (submit)="login(form)"
      fxLayout="column" fxLayoutGap="10px"
    >
      <app-form-input
        [control]="form.controls['name']"
        placeholder="Enter your name"
        [required]="true"
      ></app-form-input>

      <div fxLayout="row">
        <button id="get-started" mat-raised-button color="primary">Get started!</button>
      </div>
    </form>
  </div>
</div>
