
@font-face {
    font-family: 'Roboto-Font';
    src: url('../assets/fonts/Roboto/Roboto-Regular.ttf');
}
@font-face {
    font-family: 'Bauhaus-93';
    src: url('../assets/fonts/Bauhaus-93/BAUHS93.TTF');
}
@font-face {
    font-family: 'Bookman-old-style';
    src: url('../assets/fonts/Bookman-old-style/BOOKOS.TTF');
}

