@import '../../../../../styles/common.scss';

app-logo {
  width: 248px;
  height: 40px;
  margin-bottom: 20px;
  background: linear-gradient(301deg, rgba(43, 43, 43, 0.5970763305322129) 0%, rgba(48, 48, 48, 0.3477766106442577) 42%, rgba(66, 66, 66, 0) 100%);
  background-color: #0077d3;
  animation: MainBackground 10s ease infinite;

  @keyframes MainBackground {
    0% {
      background-color: #0077d3;
    }
    25% {
      background-color: #3dccd3;
    }
    50% {
      background-color: #5a85d3;
    }
    75% {
      background-color: #31d385;
    }
    10% {
      background-color: #0077d3;
    }
  }

  img {
    margin-left: -1px;
    margin-top: -1px;
  }
}
